
* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 1rem;
}

.content{
    margin: 1rem;
}

.content{
    display:flex;
    justify-content: center;
    align-items: center;
}

.text-container {
   color: black;
   text-align: left;
   padding-right: 15rem;
   width: 60rem;
   font-size: 30px;
}
  
.image-container > img{
    display: inline-block;
}

.shape{
    top: 0;
    position: absolute;
    width: 60rem;
    left: 20rem;
}
  
.picture{
    top: 0;
    left: 23rem;
    position: absolute;
    height: 50rem;
}

.wave {
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(237% + 1.3px);
    height: 84px;
}

.wavetwo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wavetwo svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
    transform: rotateY(180deg);
}

.darkest{
    fill: #002c36;
    background: #002c36;
}

.dark{
    fill: #004e54;
    background: #004e54;
}

.light{
    fill: #6ccea4;
    background: #6ccea4;
}

.lightest{
    fill: #cef9ea;
    background: #cef9ea;
}

#rightside{
    margin-left: 80rem ;
}

.gyro{
    height: 39rem;
}

#lesgeven{
    height: 30rem;
}

#voorbeelden{
    position: absolute;
    left: 30rem;
    display: flex;
    flex-wrap: wrap;
    width: 50rem;

}

#voorbeelden > img{
    width: 21rem;
    height: 21rem;
    padding: 1rem;
}
.makebigger{
    width: 15rem;
    height: 21rem;
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
}

.makebigger:hover{
    transform: scale(1.8);
    z-index: 3;
   
}


#mooiepose{
    height: 40rem;
}

#hoofdafbeelding{
    width: 100%;
    margin: 0;
    padding: 0;
}

.contact{
    margin-left: 10rem;

}

.subcontact {
    width: 50rem;
    margin-left: 5rem;
    
}
.social-media-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  .social-media-list li {
    margin: 0 10px;
  }
  
  .social-media-list a {
    color: #000;
    text-decoration: none;
  }
  
  .social-media-list i {
    font-size: 24px;
  }

  .SocialList{
    list-style: none;
    margin-top: 1rem;
    padding-top: 1rem;

  }

  .SocialList > li{
    padding: 15px;
    padding-left: 1rem;
  }
  

